apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  labels:
    app: postgres
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /mnt/data/postgres   # create this dir on minikube VM if needed: minikube ssh "sudo mkdir -p /mnt/data/postgres && sudo chown 1000:1000 /mnt/data/postgres"